---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant="menu-small", size="small", ...rest} = Astro.props;

//Alle knapper
const linkStyling = "transition-colors duration-500 no-underline font-outfit text-brun-25"; 

// text-Colors-Brown-25 text-2xl font-bold  uppercase"

//Forskellige knapper (farver o.lign.)
const variantClasses = {
"menu-footer": "font-agrandir",
"menu-small": "font-bold uppercase",
"menu-large": "font-bold uppercase text-brun-900 no-underline inline-block py-[10px] px-[20px] link-underline-hover link-underline-800 link-underline-bottom-0",
// Animation fra: https://tailwindflex.com/@cagarcia2011/underline-hover-effect af Carlos Adrian Garcia
};

//Forskellige størrelser
const sizeClasses = {
"footer": "text-sm lg:text-base",
"small": "text-2xl",
"medium": "text-base",
"large": "text-d-h4 py-m-xs",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant],
sizeClasses[size]]} {...rest} class={rest.class}>
<slot />
</a>