---
import "../styles/tailwind.css";
import { Image } from 'astro:assets';
import Service1 from "../assets/images/service1.png";
import Service2 from "../assets/images/service2.png";
import Service3 from "../assets/images/service3.png";
---

<div class="max-w-7xl mx-auto px-6 py-12">
    <div class="grid md:grid-cols-3 gap-6">
      
      <!-- Kort 1 -->
      <div class="bg-brun-25 text-brun-25 rounded-lg overflow-hidden relative group">
        <div class="w-full h-[460px] object-cover">
            <Image class="" src={Service1} alt="Book tid" loading="lazy"/>
        </div>
        <div class="absolute bottom-0 w-full bg-gradient-to-t from-black/70 to-transparent p-6">
          <h3 class="text-xl font-bold">BOOK TID</h3>
          <hr class="border-brun-25 my-2" />
          <a href="#" class="text-sm underline hover:opacity-80">Læs mere &gt;</a>
        </div>
      </div>

      <!-- Kort 2 -->
      <div class="bg-brun-25 text-brun-25 rounded-lg overflow-hidden relative group">
       <div class="w-full h-[460px] object-cover">
            <Image class="" src={Service2} alt="Book tid" loading="lazy"/>
        </div>
        <div class="absolute bottom-0 w-full bg-gradient-to-t from-black/70 to-transparent p-6">
          <h3 class="text-xl font-bold">SE VORES PRISER</h3>
          <hr class="border-brun-25 my-2" />
          <a href="#" class="text-sm underline hover:opacity-80">Læs mere &gt;</a>
        </div>
      </div>

      <!-- Kort 3 -->
      <div class="bg-brun-25 text-brun-25 rounded-lg overflow-hidden relative group">
        <div class="w-full h-[460px] object-cover">
            <Image class="" src={Service3} alt="Book tid" loading="lazy"/>
        </div>
        <div class="absolute bottom-0 w-full bg-gradient-to-t from-black/70 to-transparent p-6">
          <h3 class="text-xl font-bold">LÆS MERE OM OS</h3>
          <hr class="border-brun-25 my-2" />
          <a href="#" class="text-sm underline hover:opacity-80">Læs mere &gt;</a>
        </div>
      </div>

    </div>
  </div>