---
import { Image } from "astro:assets";
import fivestars from "../assets/images/fivestars.svg";
import Profil from "../assets/images/CardsProfil.svg";

const { url="#", cardimage="", cardimagealt="", titel="", link="" } = Astro.props;
---

<a href={url}>
<div class="bg-brun-25 text-brun-25 rounded-lg overflow-hidden relative group lg:hover:scale-110 duration-300">
    <div class="w-full h-full object-cover">
             <img src={cardimage} alt={cardimagealt} loading="lazy">
        </div>
        <div class="absolute bottom-0 w-full bg-gradient-to-t from-brun-900 to-transparent p-6">
            <p class="text-2xl uppercase font-outfit font-bold">{titel}</p>
          <hr class="border-brun-25 my-2" />
          <p class="text-base hover:opacity-80">Læs mere &gt;</a>
    </div>
</div>
</a>